token.txt
gettoken.json
*.swp
deplister.exe
dev/
ext/
extras/
glib-2.dll
gmodule-2.dll
icudt61.dll
icuin61.dll
icuio61.dll
icutest61.dll
icutu61.dll
icuuc61.dll
install.txt
lib/
libcrypto-1_1-x64.dll
libenchant.dll
libpq.dll
libsasl.dll
libsodium.dll
libssh2.dll
libssl-1_1-x64.dll
license.txt
news.txt
nghttp2.dll
phar.phar.bat
pharcommand.phar
php-cgi.exe
php-win.exe
php.exe
php.gif
php.ini
php.ini-development
php.ini-production
php.zip
php7.dll
php7embed.lib
php7phpdbg.dll
phpdbg.exe
readme-redist-bins.txt
sasl2/
snapshot.txt
